#debug-container {
	position: absolute;
	top: 0px;
	right: 0px;
	width: 250px;
	height: 300px;
	background: #ededed;
	padding: 15px;
	overflow-y: auto;
}

#error-container {
	color: red;
}

#fatal-error {
	color: red;
}

.chat-box {
	width: 550px;
}

.chat-box tr td:nth-child(1), .chat-box tr td:nth-child(2) {
	width: 100px;
}

.chat-box tr td {
	padding: 5px;
}

.chat-box tr.giver {
	background: lightblue;
}

.chat-box tr.system {
	background: lightgreen;
}

#users li.giver:after {
	content: " (giver)";
}

#users li.myself {
	color: red;
}
